.boxed
{   
    margin-top: 1em;
}
.LightTitles
{
    font-family: sans-serif;
    font-weight: lighter;
    padding: 5px;
    border: solid #343a40;
    border-width: 1.5px;
}
.lighter{
    font-family: sans-serif;
    font-weight: lighter;
}
.offset
{
    margin-left: -5%;
}
.btn-increment{
    max-width: 1em;
    padding: auto;
    padding-left: 0.5em;
    font-family: monospace !important;
}
.btn-decrement{
    max-width: 1em;
    padding-left: 0.5em;
    font-family: monospace !important;
}
.input-group{
    max-width: 5em;
    margin:auto;
}
.form-control{
    padding: 0;
}
.collect-button{
    position: absolute;
    right: 5%;
    border-width: 2px;
    border-color: white;
}
.bottom{
    position: absolute;
    bottom: 0px;
}